<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Usuario">Usuario</label>
        <input type="usuario" class="form-control" id="inputEmail4" placeholder="Usuario">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="Password" placeholder="Contraseña">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
  
  